.connect{
    display: flex;
    align-items: center;
    padding-top: 140px;
}
.connect-form{
    height: 500px;
    width: 420px;
    background-color:rgb(38, 38, 38);
    margin-left: 90px;
}
.connect-text{
    margin-left: 450px;

}